<!DOCTYPE html>
<html lang="en">
<head>
    <title>REGISTRARSE</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/wallapop.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!--<script src="/css/cursoreffect.js"></script>-->

    <script src="https://bootswatch.com/4/pulse/bootstrap.css"></script>


</head>
<body>

<div class="container">
    <h2 align="center"><br>Registrate<br></h2>
    <form class="form-horizontal" method="post" action="/registrarse">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]{3,}]"
                       placeholder="Peter" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellidos:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="surname" id="surname" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]{3,}]"
                       placeholder="Petra Pedro" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email"
                       placeholder="email@email.com" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" pattern=".{5,}"
                       placeholder="contraseña" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password2">Password2:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password2" id="password2" pattern=".{5,}"
                       placeholder="Repite contraseña" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="send">Enviar</button>
            </div>
        </div>

    </form>
</div>

</body>
</html>
