@CHARSET "ISO-8859-1";

/* Sticky footer styles-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #e5ccff;
  
}
h2{
    color:#4d124a;
    font-family:Verdana;
}
form{
    color:#a0609c;
    font-family:monospace;
}
nav{
	 color: #e5ccff;
}
.navbar{
    background-color: #4d124a;
}
btn-default {
    color: #660066;
    background-color: #e5ccff;
    border-color: #ffffff;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #e5ccff;
  text-align:center;
  line-height:60px
}

/* Sticky footer styles-------------------------------------------------- */
