{% extends "base.html" %}

{% block titulo %} Ofertas Compradas {% endblock %}

{% block contenido_principal %}

	<div class="container">
		<h2 >Ofertas</h2>

		<p >Ofertas Compradas</p>
		
		<div class="table-responsive">
			<table class="table table-hover" id="tableoffers">
				<thead>
				<tr>
					<th class="col-md-1">id</th>
					<th >Titulo </th>
					<th >Precio </th>
					<th > Propetario </th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>

				</tr>
				</thead>
				<tbody>
				{% for offer in offerList %}
				<tr >
					<td >{{offer._id.toString()}}</td>
					<td >{{offer.title}}</td>
					<td >{{offer.price}}</td>
					<td >{{offer.owner.email}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

