{% extends "base.html" %}

{% block titulo %} Registrar usuario {% endblock %}

{% block contenido_principal %}
	<div class="container">
		<h2 >Detalles de la oferta</h2>
		<div class="panel panel-default">
			<div class="panel-heading" >Titulo</div>
			<div class="panel-body" >{{offer.title}}</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" >Precio</div>
			<div class="panel-body" >{{offer.price}}</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading" >Descripción</div>
			<div class="panel-body">{{offer.description}}</div>
		</div>

	</div>
	<div class="container">
		<h2 >Detalles del propietario</h2>
		<div class="panel panel-default">
			<div class="panel-heading"  >Email</div>
			<div class="panel-body" >{{offer.owner}}</div>

		</div>
		<a  class="btn btn-primary"
			 href="{{'/offer/buy/' + offer._id.toString()}}"  id="comprarButton">comprar</a>
	</div>
{% endblock %}
