<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADMIN </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/wallapop.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!--<script src="/css/cursoreffect.js"></script>-->

    <script src="https://bootswatch.com/4/pulse/bootstrap.css"></script>


</head>
<body>


<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/img/purple_hearts.png" alt="logo"/>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">


                <li><a href="/user/list" id="usersee">Ver Usuarios</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/registrarse"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
                <li><a href="/desconectarse"><span class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <h2>Usuarios</h2>
    <p>Los usuarios que actualmente figuran en el sistema son los
        siguientes:</p>
    <div class="table-responsive">
        <form method="post" action="/user/delete">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                <tr>
                    <td>{{user.email}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td><input type="checkbox" name="idsUser" class="check"
                               value={{user.id}}/></td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="form-group">
                <input class="btn btn-danger" type="submit" id="DeleteButton"
                       value="Eliminar"/>


            </div>
        </form>
    </div>
</div>


</body>
</html>
