{% extends "base.html" %}
{% block contenido_principal %}
<div class="container">
    <h2>Usuarios</h2>
    <p>Los usuarios que actualmente figuran en el sistema son los
        siguientes:</p>
    <div class="table-responsive">
        <form method="post" action="/user/delete">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                <tr>
                    <td>{{user.email}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td><input type="checkbox" name="idsUsers" class="check"
                               value='{{ user.email }}'/></td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="form-group">
                <input class="btn btn-danger" type="submit" id="DeleteButton"
                       value="Eliminar"/>


            </div>
        </form>
    </div>
</div>
{% endblock%}
